* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f6f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* Removes horizontal scroll bar but leaves the verticle scroll */
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

div.content {
  background-color: #276678;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 2px 2px 8px black;
  height: 200px;
  width: 400px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(400%);
  transition: transform 0.5s ease;
}

.content:nth-of-type(even) {
  transform: translateX(-400%);
}

.content.show {
  transform: translateX(0);
}
